:root {
  --color-primary: #e95e27;
}

.iq-tabbed-bar-diagram{
  &__header{
    .pretitle,
    .title,
    .subtitle{
      display: block;
      margin: 0;
      word-break: break-word;
    }
  }
  &__body{
    &--hidden{
      visibility: hidden;
    }
  }
  &__footer{
    word-break: break-word;
    text-align: center;
  }

  &__tab-content-wrapper{
    height: 350px;
    padding-bottom: 30px;
    padding-top: 30px;
    > div {
      height: 100%;
      align-items: end;
      gap: 30px;
      display: flex;
      > div{
        background-color: var(--color-primary);
        flex: auto;
        position: relative;
        transition: all 2s ease;
        &.uninitialized {
          height: 0 !important;
        }
        &::before{
          content: attr(data-value);
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after{
          content: attr(data-label);
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &__tab-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    > button{
      cursor: pointer;
      border: 1px solid var(--color-primary);
      background: none;
      color: var(--color-primary);
      padding: 4px 10px;
      margin: 3px;
      outline: none;
      &:focus{
        outline: none;
      }
      &.active{
        color: white;
        background-color: var(--color-primary);
      }
    }
  }
}
